<div class="grid grid-cols-2 flex justify-center row grid-flow-row auto-cols-auto recipe">
  {{#each recipes as |recipe|}}
  <div class="p-5 mr-6 mb-6 bg-brown-800">
    <h2>
      <a href="/recipe/{{recipe.id}}">{{recipe.title}}</a>
    </h2>
    <a href="/recipe/{{recipe.id}}">
      {{{recipe.image}}}
      </a>
      <span class="time">Time to make (hours, minutes, seconds): {{recipe.time}}</span>
    <p>Created by {{recipe.user.name}} on {{format_date recipe.date_created}}</p>
  </div>
{{/each}}
</div>
