<div class="text-center">
  <h2>{{title}}</h2>
  <br>
  <p>Category:{{category}}</p>
  <br>
  <p align="center">{{{image}}}</p>
  <h2>Ingredients</h3>
  <p>{{ingredients}}</p>
  <br>
  <h2>Directions</h3>
  <p>{{steps}}</p>
  <p></p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>
